<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GuauMiau"
        tools:targetApi="31">
        
        <!-- MainActivity - Login/Registro -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GuauMiau">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- TaskListActivity - Pantalla principal de tareas -->
        <activity
            android:name=".ui.main.TaskListActivity"
            android:label="Mis Tareas"
            android:theme="@style/Theme.GuauMiau"
            android:parentActivityName=".MainActivity" />
        
        <!-- AddEditTaskActivity - Crear/Editar tarea -->
        <activity
            android:name=".ui.addEdit.AddEditTaskActivity"
            android:label="Nueva Tarea"
            android:theme="@style/Theme.GuauMiau"
            android:parentActivityName=".ui.main.TaskListActivity"
            android:windowSoftInputMode="adjustResize" />
        
    </application>

</manifest>
